<h4>Email App</h4>
<br/>
<br/>
<div class="container">
    <div class="row">
        <div class="col-md-6 mycontent-left ">
            <div class="jumbotron">
                <form name="emailForm" [formGroup]="emailForm" (ngSubmit)="saveEmail()">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="email">
                                        <b>Email</b>
                                    </label>
                                    <input type="text" class="form-control" placeholder="Enter Email" formControlName="email" [ngClass]="{ 'is-invalid':emailForm.get('email').invalid }"
                                    />
                                    <div *ngIf="emailForm.get('email').invalid" class="invalid-feedback">
                                        <div *ngIf="emailForm.get('email').errors?.required">Email is Required</div>
                                        <div *ngIf="!emailForm.get('email').errors?.required">Email must be a Valid Email Address</div>
                                    </div>



                                </div>
                            </div>
                        </div>
                        <button type="submit" [disabled]="emailForm.invalid" class="btn btn-primary">Save</button>
                    </div>
                    <br/>


                </form>
            </div>
        </div>
        <div class="col-md-6">
            <b>List Of Emails :</b>

            <div class="col-xs-12">
                <ul class="list-group">
                    <li *ngFor="let email of dataService.getEmails();let i =index" class="list-group-item">
                        {{email}}
                        <button class="pull-right btn btn-sm btn-warning" (click)="deleteEmail(i)">Delete</button>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>